In [1]:
import pandas as pd

In [26]:
#checking what are the raws that have a duplicate value 

df.duplicated().sum()

3297

In [50]:
df # df = a variable to read the csv file

,raw_file,retention_time,score,sequence
0,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',27.999,124.320,b'_AAAFYVR_'
1,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.000,97.596,b'_AAAFYVR_'
2,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.114,137.500,b'_AAAFYVR_'
3,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.114,121.680,b'_AAAFYVR_'
4,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',19.678,100.020,b'_AAFTECCQAADK_'
...,...,...,...,...
995,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',43.357,46.129,b'_DGFLELK_'
996,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',44.171,35.356,b'_DGFLELK_'
997,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',44.172,56.721,b'_DGFLELK_'
998,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',18.821,58.917,b'_DGPLDM(ox)R_'
999,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',18.821,77.058,b'_DGPLDM(ox)R_'

In [51]:
# printing data in console 

print(df)

                                           raw_file  retention_time    score  \
0    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          27.999  124.320
1    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          28.000   97.596
2    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          28.114  137.500
3    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          28.114  121.680
4    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          19.678  100.020
..                                              ...             ...      ...
995  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          43.357   46.129
996  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          44.171   35.356
997  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          44.172   56.721
998  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          18.821   58.917
999  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          18.821   77.058

              sequence
0         b'_AAAFYVR_'
1         b'_AAAFYVR_'
2         b'_AAAFYVR_'
3         b'_AAAFYVR_'
4    b'_AAFTECCQAADK_'
..                 ...
995       b'_DGFLELK_'
996       b'_DGFLELK_'
997       b'_DGFLELK_'
998   b'_DGPLDM(ox)R_'
999   b'_DGPLDM(ox)R_'

[1000 rows x 4 columns]

In [52]:
# printing data from specific line 
df.iloc[2]

raw_file          b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'
retention_time                                            28.114
score                                                      137.5
sequence                                            b'_AAAFYVR_'
Name: 2, dtype: object

In [53]:
# visualising the data into a table 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.pairplot(df)
plt.title('Pairplot of Numerical Columns')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
#looking for missing data 
# 0 --> no missing data 

missing_data = df.isnull().sum()
missing_data

raw_file          0
retention_time    0
score             0
sequence          0
dtype: int64

In [ ]:
#information of data 
# Object = String (in machine learning --> doesn't work)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   raw_file        1000 non-null   object
 1   retention_time  1000 non-null   float64
 2   score           1000 non-null   float64
 3   sequence        1000 non-null   object
dtypes: float64(2), object(2)
memory usage: 31.4+ KB

In [ ]:
#describtive statistic 

df.describe()

       retention_time        score
count     1000.000000  1000.000000
mean        35.083156    94.255503
std         11.093426    38.571382
min          8.991600     1.594900
25%         25.968250    64.265000
50%         34.270000    89.362000
75%         43.681000   119.560000
max         59.566000   242.390000

In [ ]:
#seeing only the first five lines (--> pandas library defines it)

df.head()

,raw_file,retention_time,score,sequence
0,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',27.999,124.320,b'_AAAFYVR_'
1,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.000,97.596,b'_AAAFYVR_'
2,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.114,137.500,b'_AAAFYVR_'
3,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',28.114,121.680,b'_AAAFYVR_'
4,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',19.678,100.020,b'_AAFTECCQAADK_'

In [ ]:
#seeing the last five lines

df.tail()

,raw_file,retention_time,score,sequence
995,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',43.357,46.129,b'_DGFLELK_'
996,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',44.171,35.356,b'_DGFLELK_'
997,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',44.172,56.721,b'_DGFLELK_'
998,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',18.821,58.917,b'_DGPLDM(ox)R_'
999,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',18.821,77.058,b'_DGPLDM(ox)R_'

## Unique and duplicate values

In [ ]:
#feching only one column
#output: values are unique - there are no double data 

column_values = df['sequence']
unique_values = column_values.unique()
print("Unique values in the column:", unique_values)

Unique values in the column: ["b'_AAAFYVR_'" "b'_AAFTECCQAADK_'" "b'_AALHFFNFR_'" "b'_ADIWLIR_'"
 "b'_ADVWLIR_'" "b'_AEEQKKIQR_'" "b'_AEFVRTAEK_'" "b'_AEIEELQQR_'"
 "b'_AETEALSK_'" "b'_AFDIVQK_'" "b'_AFFSVLR_'" "b'_AFLDEM(ox)K_'"
 "b'_AFLDEMK_'" "b'_AFLFVNK_'" "b'_AFRPELR_'" "b'_AFVELTK_'"
 "b'_AGILFFR_'" "b'_AGVLLLLR_'" "b'_AGYVLHR_'" "b'_AIELLKK_'"
 "b'_AIIDQFGQR_'" "b'_AIINPSNR_'" "b'_AILAQGR_'" "b'_AILTELK_'"
 "b'_AILTLLR_'" "b'_ALFLVFGR_'" "b'_ALFLVFGRR_'" "b'_ALFQDIK_'"
 "b'_ALFSSITDSEK_'" "b'_ALGAMWK_'" "b'_ALGAM(ox)WK_'" "b'_ALGFEPR_'"
 "b'_ALKLLNR_'" "b'_ALLFIPR_'" "b'_ALLFVPR_'" "b'_ALLQEQFR_'"
 "b'_ALM(ox)ERALR_'" "b'_ALMERALR_'" "b'_ALPTLDPK_'" "b'_ALQDAIR_'"
 "b'_ALQIFCR_'" "b'_ALTDFFR_'" "b'_ALVLELAK_'" "b'_ALVTLQR_'"
 "b'_ANDLDVR_'" "b'_ANTEVAQWR_'" "b'_APNVVVTR_'" "b'_APSFWYK_'"
 "b'_AQTLELER_'" "b'_AQTLELERR_'" "b'_ASDLLSGYYIK_'" "b'_ASSFHEFAR_'"
 "b'_ATLDDPR_'" "b'_ATWLLSPEK_'" "b'_AVDLIQK_'" "b'_AVDM(ox)DLEWR_'"
 "b'_AVDMDLEWR_'" "b'_AVEESLR_'" "b'_AVLAGLRR_'" "b'_AVSNPFQQR_'"
 "b'_AWFLESK_'" "b'_AWNTNLR_'" "b'_AWSVVGR_'" "b'_AYADFYR_'"
 "b'_AYASLFR_'" "b'_AYLFQLR_'" "b'_AYQEDLK_'" "b'_CDPDYLR_'"
 "b'_CFEEDFR_'" "b'_CFICDSR_'" "b'_CGFNINVR_'" "b'_CLIPNETK_'"
 "b'_CVFWNFR_'" "b'_CYIVATVDR_'" "b'_CYQQIDR_'" "b'_DAINVEK_'"
 "b'_DAIPENLPPLTADFAEDK_'" "b'_DALEIYKR_'" "b'_DDEQHLLER_'"
 "b'_DDIPGLPR_'" "b'_DDLFLGVK_'" "b'_DENFILK_'" "b'_DESLEFQK_'"
 "b'_DFLLYLR_'" "b'_DGFLELK_'" "b'_DGPLDM(ox)R_'"]

In [59]:
#counts unique values of the column 

unique_count = df['score'].nunique()
print("Number of unique values in the column:", unique_count)

Number of unique values in the column: 680

We remove the duplicate values:
   - because of inconsistencies of the dataset, which may affect the accuracy of analysis 
   - to reduce the storage 
   - improvin the performance ( --> it's faster)
   - improve the data quality 
   - preventing bias ( --> preventing the consistency --> not accurate data)

 If the duplicate data value exists in data set it cen lead to ambiguity in peptide identification

In [57]:
#boolean ndarray indicates whether a label is repeated

#unique_repeat = df['score'].duplicated()
#print("Indication if the value is unique: ", unique_repeat)

#Indicates if the whole line is repeated: 
df.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False])

In [61]:
#boolean filter that drops duplicated lines 

unique_duplicated_line = df.loc[~df['retention_time'].duplicated(), :]
print("Duplicated lines: ", unique_duplicated_line)

#df.loc[~df.index.duplicated(), :]

Duplicated lines:                                             raw_file  retention_time    score  \
0    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          27.999  124.320
1    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          28.000   97.596
2    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          28.114  137.500
4    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          19.678  100.020
5    b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          42.929   90.308
..                                              ...             ...      ...
994  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          43.356   40.067
995  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          43.357   46.129
996  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          44.171   35.356
997  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          44.172   56.721
998  b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2'          18.821   58.917

              sequence
0         b'_AAAFYVR_'
1         b'_AAAFYVR_'
2         b'_AAAFYVR_'
4    b'_AAFTECCQAADK_'
5       b'_AALHFFNFR_'
..                 ...
994       b'_DGFLELK_'
995       b'_DGFLELK_'
996       b'_DGFLELK_'
997       b'_DGFLELK_'
998   b'_DGPLDM(ox)R_'

[672 rows x 4 columns]

In [ ]:
# Average of all rows with the same label

df['retention_time'].groupby(level=0).mean()

0      27.999
1      28.000
2      28.114
3      28.114
4      19.678
        ...
995    43.357
996    44.171
997    44.172
998    18.821
999    18.821
Name: retention_time, Length: 1000, dtype: float64

In [3]:
#checking what are the raws that have a duplicate value 

df.duplicated().sum()

2885

In [12]:
#printing duplicate rows in a new csv file 

duplicate_rows = df[df.duplicated(keep=False)]
#duplicate_rows.to_csv('duplicated_data\duplicates.csv', index=False)

<>:4: SyntaxWarning: invalid escape sequence '\d'
<>:4: SyntaxWarning: invalid escape sequence '\d'
C:\Users\jarek\AppData\Local\Temp\ipykernel_16064\1792665500.py:4: SyntaxWarning: invalid escape sequence '\d'
  duplicate_rows.to_csv('duplicated_data\duplicates.csv', index=False)

In [16]:
#gives index of the duplicate values 

duplicate_rows

,raw_file,retention_time,score,sequence
190,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',45.177,46.663,b'_AFLFVNK_'
191,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',45.177,46.663,b'_AFLFVNK_'
258,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',50.236,104.450,b'_AGVLLLLR_'
259,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',50.236,104.450,b'_AGVLLLLR_'
396,b'01625b_GA1-TUM_first_pool_1_01_01-DDA-1h-R2',54.507,74.717,b'_ALLFIPR_'
...,...,...,...,...
1993441,b'01625b_GC5-TUM_first_pool_35_01_01-DDA-1h-R2',41.947,69.721,b'_DLLTDEPFSR_'
1996570,b'01625b_GC5-TUM_first_pool_35_01_01-DDA-1h-R2',49.517,50.473,b'_ILFVSESVFK_'
1996571,b'01625b_GC5-TUM_first_pool_35_01_01-DDA-1h-R2',49.517,50.473,b'_ILFVSESVFK_'
1999927,b'01625b_GC5-TUM_first_pool_35_01_01-DDA-1h-R2',15.752,63.184,b'_SGDNLVCHAR_'
1999928,b'01625b_GC5-TUM_first_pool_35_01_01-DDA-1h-R2',15.752,63.184,b'_SGDNLVCHAR_'

In [21]:
#duplicate= pd.read_csv('duplicated_data/duplicates.csv')
duplicate_data = pd.concat([duplicate, duplicate_rows], ignore_index=True)
duplicate_data.to_csv('duplicated_data/duplicates.csv', index=False)

In [3]:
# removes duplicate values 

df_no_duplicates = df.drop_duplicates()

# saving it into a new csv file

#df_no_duplicates.to_csv("clean_data/clean.csv", index=False)

In [4]:
#there are zero duplicated values in the new file --> worked

df_no_duplicates.duplicated().sum()

0

In [15]:
merged= pd.read_csv('clean_data/clean.csv')
merged_data = pd.concat([merged, df_no_duplicates], ignore_index=True)
merged_data.to_csv('clean_data/clean.csv', index=False)